<h1>1번. 농산물(배추,무,고추,마늘,양파)별 생산량과 생육 기간 전체의
기상요인(기온,강수량,일사량,습도,적설량,순간최대풍속) 의 상관관계 조사하기</h1>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

<h4>생산량 데이터</h4>

In [2]:
cabbage = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/배추_생산량.csv', encoding='euc-kr') # 배추
radish = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/무_생산량.csv', encoding='euc-kr') # 무
pepper = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/건고추_생산량.csv', encoding='euc-kr') # 고추
garlic = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/마늘_생산량.csv', encoding='euc-kr') # 마늘
onion = pd.read_csv('./데이터/KOSIS_재배면적_생산량/시도별/양파_생산량.csv', encoding='euc-kr') # 양파

<h4>날씨 데이터</h4>

In [3]:
weather1 = pd.read_excel('./날씨데이터/kma20200522174253492.xlsx')
weather2 = pd.read_excel('./날씨데이터/kma20200522174416436.xlsx')
weather3 = pd.read_excel('./날씨데이터/kma20200522174723598.xlsx')
weather4 = pd.read_excel('./날씨데이터/kma20200522175735661.xlsx')
weather5 = pd.read_excel('./날씨데이터/kma20200522175856809.xlsx')
weather6 = pd.read_excel('./날씨데이터/kma20200522180109240.xlsx')

In [4]:
weather = pd.concat([weather1, weather2, weather3, weather4, weather5, weather6])
del weather['조사지역']
weather

,거래일자,지역(시),지역(군),평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
0,20000101,서울,종로구,5.5,9.9,1.8,0.0,2.0,4.0,64.0,0.0,0.0,0.0
1,20000101,강원도,춘천시,0.1,7.5,-4.5,0.0,5.0,5.0,87.0,0.0,0.0,0.0
2,20000101,강원도,철원군,0.2,7.9,-5.4,0.0,4.0,0.0,87.0,0.0,0.0,0.0
3,20000101,강원도,속초시,3.2,4.1,2.4,1.2,0.0,0.0,94.0,0.0,0.0,0.0
4,20000101,강원도,원주시,1.9,9.6,-3.9,0.0,3.0,4.0,78.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60966,20200521,경상북도,울진군,12.3,16.4,6.5,0.0,8.0,0.0,78.0,6.0,0.0,6.2
60967,20200521,경상북도,의성군,15.0,23.1,6.3,0.0,10.0,0.0,72.0,5.0,0.0,6.0
60968,20200521,경상북도,영천시,14.1,21.7,8.2,0.0,6.0,0.0,74.0,7.0,0.0,9.7
60969,20200521,경상북도,포항시,14.1,17.4,10.5,0.0,8.0,25.0,72.0,6.0,0.0,6.3
60970,20200521,경상북도,울릉군,11.4,14.7,9.1,1.4,6.0,22.0,87.0,7.0,0.0,14.3

In [5]:
print(weather['지역(군)'].value_counts()) #고창군, 고흥군, 의성군, 무안군, 해남군, 안동시

남구      14788
금산군      7394
전주시      7394
동해시      7394
영주시      7394
        ...
순천시      6012
남제주군     5006
고창군      2892
무안군      2367
삼척시      2367
Name: 지역(군), Length: 75, dtype: int64

In [6]:
weather_data = weather[weather['지역(군)'].isin(['고창군', '고흥군', '의성군', '무안군', '해남군', '안동시'])]
weather_data['거래일자'] = pd.to_datetime(weather_data['거래일자'], format='%Y%m%d')
weather_data
#배추 - 전라북도 고창군
#무 - 전라북도 고창군
#마늘 - 전라남도 고흥군, 경상북도 의성군
#양파 - 전라남도 무안군
#건고추 - 전라남도 해남군, 경상북도 안동시

/Users/kimsejin/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,거래일자,지역(시),지역(군),평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
30,2000-01-01,전라남도,해남군,8.8,14.5,-1.9,0.0,6.0,0.0,54.0,0.0,0.0,0.0
32,2000-01-01,전라남도,고흥군,8.2,13.5,0.0,0.0,5.0,0.0,54.0,0.0,0.0,0.0
62,2000-01-01,경상북도,안동시,2.8,8.8,-4.5,0.0,0.0,2.0,77.0,0.0,0.0,0.0
65,2000-01-01,경상북도,의성군,-0.3,5.3,-7.4,0.0,0.0,0.0,72.0,0.0,0.0,0.0
99,2000-01-02,전라남도,해남군,8.3,12.6,4.2,0.5,0.0,0.0,63.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60932,2020-05-21,전라남도,해남군,16.4,21.1,9.5,0.0,12.0,0.0,79.0,5.0,0.0,7.6
60933,2020-05-21,전라남도,고흥군,15.1,19.1,12.3,0.0,5.0,0.0,78.0,8.0,0.0,6.6
60941,2020-05-21,전라북도,고창군,16.9,23.7,8.8,0.0,11.0,25.0,63.0,4.0,0.0,6.0
60964,2020-05-21,경상북도,안동시,14.4,22.6,8.5,0.0,10.0,27.0,71.0,4.0,0.0,8.9
60967,2020-05-21,경상북도,의성군,15.0,23.1,6.3,0.0,10.0,0.0,72.0,5.0,0.0,6.0

<h4>상관관계</h4>

<h4>8~10월 강수량은 무 생산량과 얼마만큼의 상관관계가 있는가?(1.1.1)</h4>

In [13]:
data = weather_data[weather_data['지역(군)'] == '고창군']
data['거래일자'] = pd.to_datetime(data['거래일자'], format='%Y%m%d')
data = data[data['거래일자'].dt.month.isin(['08','09','10'])]

/Users/kimsejin/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
data['년도'] = data['거래일자'].dt.year
data['월'] = data['거래일자'].dt.month
del data['거래일자']
monthly_weather = data.groupby(['년도','월'], as_index=False).mean()
monthly_weather

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
0,2010,10,15.300000,19.600000,10.400000,0.000000,2.000000,9.000000,80.000000,6.000000,0.0,6.100000
1,2011,10,15.600000,22.150000,9.200000,0.000000,5.000000,12.500000,68.000000,0.000000,0.0,6.150000
2,2012,8,27.661290,31.983871,24.119355,16.383871,4.516129,15.290323,75.645161,0.000000,0.0,9.222581
3,2012,9,20.960000,25.950000,16.813333,7.026667,5.033333,14.566667,76.300000,0.000000,0.0,7.353333
4,2012,10,15.212903,21.848387,9.458065,1.906452,6.838710,13.967742,70.225806,0.000000,0.0,7.435484
5,2013,8,28.154839,33.316129,24.187097,9.480645,7.322581,19.064516,75.967742,0.000000,0.0,7.122581
6,2013,9,22.146667,27.723333,17.653333,0.853333,5.866667,15.766667,74.966667,0.000000,0.0,6.943333
7,2013,10,16.058065,22.287097,10.829032,0.390323,6.483871,13.709677,72.645161,0.000000,0.0,7.274194
8,2014,8,24.445161,28.693548,21.645161,15.390323,2.741935,11.967742,84.387097,0.000000,0.0,6.929032
9,2014,9,21.890000,27.710000,17.336667,2.266667,5.700000,15.933333,77.166667,0.000000,0.0,6.873333
10,2014,10,16.129032,22.980645,10.341935,3.119355,6.838710,14.000000,70.193548,0.000000,0.0,7.270968
11,2015,8,24.632258,29.606452,20.832258,2.848387,5.774194,17.709677,78.290323,0.000000,0.0,7.577419
12,2015,9,19.456667,27.050000,15.636667,1.103333,6.233333,15.633333,70.666667,0.000000,0.0,6.710000
13,2015,10,15.609677,22.077419,10.319355,3.429032,6.870968,14.064516,76.645161,0.000000,0.0,7.287097
14,2016,8,27.300000,33.141935,22.803226,1.822581,7.129032,19.354839,77.419355,0.000000,0.0,7.354839
15,2016,9,22.776667,28.063333,18.743333,5.333333,4.533333,13.900000,82.900000,0.000000,0.0,6.753333
16,2016,10,17.525000,22.278571,13.714286,5.482143,3.000000,9.714286,82.964286,0.000000,0.0,6.825000
17,2017,8,22.063333,31.210000,22.353333,11.106667,5.566667,17.566667,82.800000,0.000000,0.0,7.983333
18,2017,9,21.170000,27.250000,16.206667,3.850000,6.100000,15.466667,83.433333,0.000000,0.0,6.583333
19,2017,10,14.980645,20.787097,10.448387,1.309677,6.838710,7.258065,78.387097,0.000000,0.0,7.183871
20,2018,8,27.341935,32.893548,23.080645,7.980645,7.258065,11.064516,76.387097,5.903226,0.0,12.732258
21,2018,9,20.396667,26.033333,15.900000,4.783333,5.900000,9.166667,79.066667,6.000000,0.0,11.940000
22,2018,10,12.716129,19.019355,7.445161,4.712903,7.129032,8.000000,77.290323,4.354839,0.0,7.441935
23,2019,8,26.038710,30.838710,22.048387,7.629032,6.193548,17.838710,80.290323,6.193548,0.0,6.974194
24,2019,9,21.810000,26.640000,18.006667,7.823333,4.600000,13.166667,82.133333,6.666667,0.0,7.490000
25,2019,10,15.477419,21.416129,10.522581,3.822581,6.709677,13.161290,78.548387,5.064516,0.0,6.925806

In [15]:
output = radish[radish['지역']== '전라북도']
output

       년도    지역  면적 (ha)  생산량 (톤)
12   2000  전라북도     6057   328803
28   2001  전라북도     5884   318833
44   2002  전라북도     4834   267928
60   2003  전라북도     5278   278065
76   2004  전라북도     5433   333882
92   2005  전라북도     3690   223186
108  2006  전라북도     3621   241193
124  2007  전라북도     2728   175589
140  2008  전라북도     3113   197841
156  2009  전라북도     2491   188967
172  2010  전라북도     2227   142507
188  2011  전라북도     3684   248876
204  2012  전라북도     2593   170152
220  2013  전라북도     3036   255171
236  2014  전라북도     2122   178683
252  2015  전라북도     2055   144396
269  2016  전라북도     1973   126495
286  2017  전라북도     2256   154888
303  2018  전라북도     2158   155907
320  2019  전라북도     1006    79648

In [17]:
data = pd.merge(monthly_weather, output)

In [18]:
data

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속,지역,면적 (ha),생산량 (톤)
0,2010,10,15.300000,19.600000,10.400000,0.000000,2.000000,9.000000,80.000000,6.000000,0.0,6.100000,전라북도,2227,142507
1,2011,10,15.600000,22.150000,9.200000,0.000000,5.000000,12.500000,68.000000,0.000000,0.0,6.150000,전라북도,3684,248876
2,2012,8,27.661290,31.983871,24.119355,16.383871,4.516129,15.290323,75.645161,0.000000,0.0,9.222581,전라북도,2593,170152
3,2012,9,20.960000,25.950000,16.813333,7.026667,5.033333,14.566667,76.300000,0.000000,0.0,7.353333,전라북도,2593,170152
4,2012,10,15.212903,21.848387,9.458065,1.906452,6.838710,13.967742,70.225806,0.000000,0.0,7.435484,전라북도,2593,170152
5,2013,8,28.154839,33.316129,24.187097,9.480645,7.322581,19.064516,75.967742,0.000000,0.0,7.122581,전라북도,3036,255171
6,2013,9,22.146667,27.723333,17.653333,0.853333,5.866667,15.766667,74.966667,0.000000,0.0,6.943333,전라북도,3036,255171
7,2013,10,16.058065,22.287097,10.829032,0.390323,6.483871,13.709677,72.645161,0.000000,0.0,7.274194,전라북도,3036,255171
8,2014,8,24.445161,28.693548,21.645161,15.390323,2.741935,11.967742,84.387097,0.000000,0.0,6.929032,전라북도,2122,178683
9,2014,9,21.890000,27.710000,17.336667,2.266667,5.700000,15.933333,77.166667,0.000000,0.0,6.873333,전라북도,2122,178683
10,2014,10,16.129032,22.980645,10.341935,3.119355,6.838710,14.000000,70.193548,0.000000,0.0,7.270968,전라북도,2122,178683
11,2015,8,24.632258,29.606452,20.832258,2.848387,5.774194,17.709677,78.290323,0.000000,0.0,7.577419,전라북도,2055,144396
12,2015,9,19.456667,27.050000,15.636667,1.103333,6.233333,15.633333,70.666667,0.000000,0.0,6.710000,전라북도,2055,144396
13,2015,10,15.609677,22.077419,10.319355,3.429032,6.870968,14.064516,76.645161,0.000000,0.0,7.287097,전라북도,2055,144396
14,2016,8,27.300000,33.141935,22.803226,1.822581,7.129032,19.354839,77.419355,0.000000,0.0,7.354839,전라북도,1973,126495
15,2016,9,22.776667,28.063333,18.743333,5.333333,4.533333,13.900000,82.900000,0.000000,0.0,6.753333,전라북도,1973,126495
16,2016,10,17.525000,22.278571,13.714286,5.482143,3.000000,9.714286,82.964286,0.000000,0.0,6.825000,전라북도,1973,126495
17,2017,8,22.063333,31.210000,22.353333,11.106667,5.566667,17.566667,82.800000,0.000000,0.0,7.983333,전라북도,2256,154888
18,2017,9,21.170000,27.250000,16.206667,3.850000,6.100000,15.466667,83.433333,0.000000,0.0,6.583333,전라북도,2256,154888
19,2017,10,14.980645,20.787097,10.448387,1.309677,6.838710,7.258065,78.387097,0.000000,0.0,7.183871,전라북도,2256,154888
20,2018,8,27.341935,32.893548,23.080645,7.980645,7.258065,11.064516,76.387097,5.903226,0.0,12.732258,전라북도,2158,155907
21,2018,9,20.396667,26.033333,15.900000,4.783333,5.900000,9.166667,79.066667,6.000000,0.0,11.940000,전라북도,2158,155907
22,2018,10,12.716129,19.019355,7.445161,4.712903,7.129032,8.000000,77.290323,4.354839,0.0,7.441935,전라북도,2158,155907
23,2019,8,26.038710,30.838710,22.048387,7.629032,6.193548,17.838710,80.290323,6.193548,0.0,6.974194,전라북도,1006,79648
24,2019,9,21.810000,26.640000,18.006667,7.823333,4.600000,13.166667,82.133333,6.666667,0.0,7.490000,전라북도,1006,79648
25,2019,10,15.477419,21.416129,10.522581,3.822581,6.709677,13.161290,78.548387,5.064516,0.0,6.925806,전라북도,1006,79648

In [19]:
re = data.corr(method='pearson')
re

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속,면적 (ha),생산량 (톤)
년도,1.000000,-0.166294,0.102746,0.139448,0.145959,0.144155,0.335879,-0.101124,0.497161,0.497867,NaN,0.326052,-0.736128,-0.657616
월,-0.166294,1.000000,-0.949942,-0.957416,-0.970898,-0.630967,-0.006297,-0.603083,-0.331823,0.004178,NaN,-0.343764,0.115530,0.066779
평균기온,0.102746,-0.949942,1.000000,0.972870,0.979900,0.582335,-0.005592,0.615368,0.288499,-0.024399,NaN,0.338760,-0.083337,-0.024710
최고기온,0.139448,-0.957416,0.972870,1.000000,0.971474,0.547616,0.114486,0.692110,0.219245,-0.092761,NaN,0.350564,-0.048299,0.007437
최저기온,0.145959,-0.970898,0.979900,0.971474,1.000000,0.649440,-0.065088,0.600281,0.380186,-0.036170,NaN,0.327005,-0.121310,-0.067512
강수량,0.144155,-0.630967,0.582335,0.547616,0.649440,1.000000,-0.259683,0.145944,0.441669,0.050082,NaN,0.317960,-0.164886,-0.132411
일조시간,0.335879,-0.006297,-0.005592,0.114486,-0.065088,-0.259683,1.000000,0.276357,-0.444421,-0.050030,NaN,0.251708,0.028989,0.117795
일사량,-0.101124,-0.603083,0.615368,0.692110,0.600281,0.145944,0.276357,1.000000,-0.095835,-0.371412,NaN,-0.203668,0.015589,0.091936
습도,0.497161,-0.331823,0.288499,0.219245,0.380186,0.441669,-0.444421,-0.095835,1.000000,0.253833,NaN,0.010250,-0.537523,-0.523086
운량,0.497867,0.004178,-0.024399,-0.092761,-0.036170,0.050082,-0.050030,-0.371412,0.253833,1.000000,NaN,0.402593,-0.560172,-0.513379
적설량,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
순간최대풍속,0.326052,-0.343764,0.338760,0.350564,0.327005,0.317960,0.251708,-0.203668,0.010250,0.402593,NaN,1.000000,-0.040876,-0.052206
면적 (ha),-0.736128,0.115530,-0.083337,-0.048299,-0.121310,-0.164886,0.028989,0.015589,-0.537523,-0.560172,NaN,-0.040876,1.000000,0.928007
생산량 (톤),-0.657616,0.066779,-0.024710,0.007437,-0.067512,-0.132411,0.117795,0.091936,-0.523086,-0.513379,NaN,-0.052206,0.928007,1.000000

<h4>5~7월 일조량은 고추 생산량과 상관관계가 있는가? (1.1.3)</h4>

In [7]:
data = weather_data[weather_data['지역(군)'].isin(['안동시'])]
data['거래일자'] = pd.to_datetime(data['거래일자'], format='%Y%m%d')
data = data[data['거래일자'].dt.month.isin(['05','06','07'])]

/Users/kimsejin/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
pd.set_option('display.max_rows', 1000)
data

,거래일자,지역(시),지역(군),평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
8411,2000-05-01,경상북도,안동시,16.8,26.6,7.4,0.0,10.0,22.0,52.0,0.0,0.0,0.0
8480,2000-05-02,경상북도,안동시,14.8,20.8,10.4,0.0,4.0,17.0,54.0,0.0,0.0,0.0
8549,2000-05-03,경상북도,안동시,15.9,25.4,5.6,0.0,11.0,26.0,55.0,0.0,0.0,0.0
8618,2000-05-04,경상북도,안동시,18.1,27.2,8.2,0.0,10.0,22.0,48.0,0.0,0.0,0.0
8687,2000-05-05,경상북도,안동시,20.6,29.0,10.2,0.0,8.0,19.0,42.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60680,2020-05-17,경상북도,안동시,21.2,28.0,15.5,0.0,10.0,24.0,71.0,6.0,0.0,4.4
60751,2020-05-18,경상북도,안동시,18.6,23.2,16.0,11.2,6.0,20.0,78.0,9.0,0.0,10.6
60822,2020-05-19,경상북도,안동시,13.5,17.5,10.0,4.5,3.0,12.0,76.0,7.0,0.0,9.4
60893,2020-05-20,경상북도,안동시,12.4,17.6,7.1,0.0,6.0,18.0,69.0,5.0,0.0,4.9
60964,2020-05-21,경상북도,안동시,14.4,22.6,8.5,0.0,10.0,27.0,71.0,4.0,0.0,8.9

In [9]:
data['년도'] = data['거래일자'].dt.year
data['월'] = data['거래일자'].dt.month
del data['거래일자']
monthly_weather = data.groupby(['년도','월'], as_index=False).mean()
monthly_weather

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
0,2000,5,18.190323,25.393548,11.487097,1.241935,6.709677,19.322581,60.516129,0.000000,0.0,0.000000
1,2000,6,22.063333,28.460000,16.693333,5.266667,5.833333,16.600000,66.033333,0.000000,0.0,0.000000
2,2000,7,24.916129,30.558065,20.522581,7.290323,5.225806,14.516129,73.774194,0.000000,0.0,0.000000
3,2001,5,18.432258,25.803226,11.422581,0.474194,7.387097,16.741935,52.096774,0.000000,0.0,0.000000
4,2001,6,21.916667,28.276667,16.870000,6.486667,5.566667,14.466667,64.666667,0.000000,0.0,0.000000
5,2001,7,25.119355,30.741935,20.893548,6.022581,6.161290,14.870968,74.354839,0.000000,0.0,0.000000
6,2002,5,16.438710,22.838710,10.358065,3.061290,6.354839,15.451613,54.129032,5.580645,0.0,7.758065
7,2002,6,21.340000,28.133333,14.853333,1.546667,7.700000,17.533333,53.766667,4.666667,0.0,7.736667
8,2002,7,24.974194,29.564516,21.119355,5.290323,4.967742,12.935484,65.838710,6.677419,0.0,6.877419
9,2003,5,17.409677,24.216129,11.087097,5.487097,6.161290,15.032258,58.774194,5.387097,0.0,7.338710
10,2003,6,20.293333,25.736667,15.886667,5.293333,4.900000,14.033333,72.500000,6.966667,0.0,6.783333
11,2003,7,21.461290,25.696774,18.225806,13.077419,2.483871,10.451613,69.580645,8.129032,0.0,6.751613
12,2004,5,17.248387,23.300000,11.438710,2.845161,5.935484,14.838710,67.419355,5.709677,0.0,7.725806
13,2004,6,21.630000,28.263333,15.493333,9.706667,6.233333,15.700000,70.066667,5.933333,0.0,7.290000
14,2004,7,24.922581,29.722581,20.974194,9.741935,4.967742,13.000000,82.580645,6.322581,0.0,7.103226
15,2005,5,16.838710,23.987097,10.074194,1.467742,7.806452,17.258065,63.870968,4.000000,0.0,8.200000
16,2005,6,22.120000,28.350000,16.943333,4.650000,6.966667,16.366667,74.900000,5.466667,0.0,6.996667
17,2005,7,24.187097,28.706452,20.464516,6.758065,4.838710,14.225806,83.129032,6.322581,0.0,6.316129
18,2006,5,17.358065,23.580645,11.551613,4.706452,5.935484,15.064516,70.838710,5.580645,0.0,7.525806
19,2006,6,21.486667,27.470000,16.020000,1.816667,6.600000,16.166667,75.333333,5.333333,0.0,6.876667
20,2006,7,22.545161,26.061290,20.000000,17.793548,1.903226,9.193548,90.322581,8.806452,0.0,6.929032
21,2007,5,18.038710,25.029032,11.596774,3.267742,7.419355,16.387097,66.225806,5.000000,0.0,9.551613
22,2007,6,22.046667,28.113333,16.593333,4.233333,5.633333,15.600000,73.233333,6.466667,0.0,7.533333
23,2007,7,23.241935,27.464516,19.890323,5.609677,3.645161,12.032258,85.387097,7.451613,0.0,7.022581
24,2008,5,18.058065,24.903226,11.109677,1.887097,7.354839,21.709677,58.290323,4.451613,0.0,8.180645
25,2008,6,20.493333,25.866667,15.560000,4.600000,5.400000,19.233333,70.800000,7.000000,0.0,7.256667
26,2008,7,26.619355,31.554839,22.577419,5.422581,4.870968,18.129032,76.548387,7.193548,0.0,7.622581
27,2009,5,18.519355,26.070968,11.493548,3.906452,7.483871,20.290323,59.774194,4.258065,0.0,7.554839
28,2009,6,22.210000,28.216667,16.540000,2.633333,6.633333,20.366667,65.733333,5.466667,0.0,6.753333
29,2009,7,23.554839,28.403226,19.900000,15.300000,3.806452,15.580645,78.483871,7.806452,0.0,7.464516
30,2010,5,17.558065,24.445161,10.874194,3.406452,6.838710,19.677419,61.516129,4.838710,0.0,8.119355
31,2010,6,23.156667,29.850000,16.993333,0.416667,7.200000,21.500000,62.000000,5.200000,0.0,7.550000
32,2010,7,25.996774,30.787097,22.064516,3.254839,4.419355,16.838710,75.096774,7.096774,0.0,6.983871
33,2011,5,17.477419,23.651613,11.596774,4.887097,6.064516,18.064516,62.096774,5.548387,0.0,8.241935
34,2011,6,22.550000,28.493333,17.310000,9.486667,6.200000,19.633333,67.700000,5.966667,0.0,7.250000
35,2011,7,25.516129,29.832258,22.300000,7.967742,4.000000,15.580645,78.548387,7.806452,0.0,6.877419
36,2012,5,18.561290,25.412903,12.293548,1.196774,7.161290,20.483871,59.096774,5.258065,0.0,8.077419
37,2012,6,22.353333,27.996667,17.503333,1.953333,5.733333,19.766667,67.166667,6.800000,0.0,7.800000
38,2012,7,26.077419,30.812903,22.087097,5.600000,5.774194,18.129032,75.387097,6.645161,0.0,6.764516
39,2013,5,18.687097,25.754839,11.935484,3.122581,8.709677,19.193548,60.387097,4.290323,0.0,7.487097
40,2013,6,23.240000,28.926667,18.636667,6.240000,6.833333,17.700000,70.400000,6.100000,0.0,6.180000
41,2013,7,26.774194,31.451613,23.580645,4.200000,5.290323,14.483871,77.032258,7.032258,0.0,7.309677
42,2014,5,18.554839,26.212903,11.170968,0.738710,9.838710,24.806452,51.903226,3.096774,0.0,9.170968
43,2014,6,21.653333,27.460000,17.096667,1.650000,6.266667,19.966667,64.866667,7.000000,0.0,7.433333
44,2014,7,25.387097,31.080645,20.909677,2.238710,6.774194,19.354839,66.903226,6.838710,0.0,7.648387
45,2015,5,19.329032,26.751613,11.600000,0.841935,10.258065,23.419355,49.967742,3.774194,0.0,8.032258
46,2015,6,21.953333,28.356667,16.393333,4.513333,7.400000,19.366667,62.600000,6.733333,0.0,7.250000
47,2015,7,23.700000,29.270968,20.596774,3.983871,6.709677,17.322581,68.161290,6.548387,0.0,7.167742
48,2016,5,18.506452,26.325806,11.422581,1.658065,9.838710,21.419355,52.870968,4.387097,0.0,8.200000
49,2016,6,23.220000,28.763333,17.900000,1.446667,8.500000,20.066667,63.566667,6.066667,0.0,7.390000
50,2016,7,25.429032,30.535484,21.409677,8.854839,7.419355,17.290323,76.935484,7.290323,0.0,6.477419
51,2017,5,19.396774,26.767742,12.241935,0.709677,9.935484,22.000000,52.870968,4.290323,0.0,8.712903
52,2017,6,22.326667,29.696667,15.980000,0.800000,10.200000,22.300000,58.033333,4.666667,0.0,8.163333
53,2017,7,26.129032,30.909677,22.529032,14.658065,6.612903,15.548387,80.677419,7.225806,0.0,7.148387
54,2018,5,18.351613,24.651613,12.170968,3.164516,7.709677,21.258065,66.677419,5.612903,0.0,7.651613
55,2018,6,22.650000,28.553333,17.480000,1.616667,7.433333,21.200000,64.233333,5.966667,0.0,6.660000
56,2018,7,27.451613,32.745161,22.790323,4.967742,8.935484,23.032258,73.096774,4.806452,0.0,6.938710
57,2019,5,18.800000,26.332258,10.761290,1.596774,10.032258,23.967742,53.290323,4.096774,0.0,8.670968
58,2019,6,21.450000,27.496667,15.920000,2.956667,8.133333,22.033333,67.366667,5.733333,0.0,6.830000
59,2019,7,24.700000,29.096774,20.925806,3.441935,5.806452,17.419355,75.322581,6.967742,0.0,6.758065
60,2020,5,17.266667,23.338095,11.961905,3.376190,7.333333,19.285714,67.571429,5.904762,0.0,8.490476

In [10]:
output = pepper[pepper['지역'].isin(['경상북도'])]
# output = pepper[pepper['지역'].isin(['전라남도', '경상북도'])]
output

       년도    지역  면적 (ha)  생산량 (톤)
3    2000  경상북도    18872    50874
19   2001  경상북도    18124    47512
35   2002  경상북도    18371    51024
51   2003  경상북도    15269    35967
67   2004  경상북도    16193    42243
83   2005  경상북도    15935    46455
99   2006  경상북도    13749    33830
115  2007  경상북도    14761    46779
131  2008  경상북도    12991    34037
147  2009  경상북도    11781    36513
163  2010  경상북도    11699    26703
179  2011  경상북도    10896    24421
195  2012  경상북도    12059    31373
211  2013  경상북도    10725    32864
227  2014  경상북도     8587    20902
243  2015  경상북도     8387    24214
259  2016  경상북도     7426    20111
276  2017  경상북도     6368    12073
293  2018  경상북도     6768    17182
310  2019  경상북도     7212    18786

In [11]:
data = pd.merge(monthly_weather, output)
data

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속,지역,면적 (ha),생산량 (톤)
0,2000,5,18.190323,25.393548,11.487097,1.241935,6.709677,19.322581,60.516129,0.000000,0.0,0.000000,경상북도,18872,50874
1,2000,6,22.063333,28.460000,16.693333,5.266667,5.833333,16.600000,66.033333,0.000000,0.0,0.000000,경상북도,18872,50874
2,2000,7,24.916129,30.558065,20.522581,7.290323,5.225806,14.516129,73.774194,0.000000,0.0,0.000000,경상북도,18872,50874
3,2001,5,18.432258,25.803226,11.422581,0.474194,7.387097,16.741935,52.096774,0.000000,0.0,0.000000,경상북도,18124,47512
4,2001,6,21.916667,28.276667,16.870000,6.486667,5.566667,14.466667,64.666667,0.000000,0.0,0.000000,경상북도,18124,47512
5,2001,7,25.119355,30.741935,20.893548,6.022581,6.161290,14.870968,74.354839,0.000000,0.0,0.000000,경상북도,18124,47512
6,2002,5,16.438710,22.838710,10.358065,3.061290,6.354839,15.451613,54.129032,5.580645,0.0,7.758065,경상북도,18371,51024
7,2002,6,21.340000,28.133333,14.853333,1.546667,7.700000,17.533333,53.766667,4.666667,0.0,7.736667,경상북도,18371,51024
8,2002,7,24.974194,29.564516,21.119355,5.290323,4.967742,12.935484,65.838710,6.677419,0.0,6.877419,경상북도,18371,51024
9,2003,5,17.409677,24.216129,11.087097,5.487097,6.161290,15.032258,58.774194,5.387097,0.0,7.338710,경상북도,15269,35967
10,2003,6,20.293333,25.736667,15.886667,5.293333,4.900000,14.033333,72.500000,6.966667,0.0,6.783333,경상북도,15269,35967
11,2003,7,21.461290,25.696774,18.225806,13.077419,2.483871,10.451613,69.580645,8.129032,0.0,6.751613,경상북도,15269,35967
12,2004,5,17.248387,23.300000,11.438710,2.845161,5.935484,14.838710,67.419355,5.709677,0.0,7.725806,경상북도,16193,42243
13,2004,6,21.630000,28.263333,15.493333,9.706667,6.233333,15.700000,70.066667,5.933333,0.0,7.290000,경상북도,16193,42243
14,2004,7,24.922581,29.722581,20.974194,9.741935,4.967742,13.000000,82.580645,6.322581,0.0,7.103226,경상북도,16193,42243
15,2005,5,16.838710,23.987097,10.074194,1.467742,7.806452,17.258065,63.870968,4.000000,0.0,8.200000,경상북도,15935,46455
16,2005,6,22.120000,28.350000,16.943333,4.650000,6.966667,16.366667,74.900000,5.466667,0.0,6.996667,경상북도,15935,46455
17,2005,7,24.187097,28.706452,20.464516,6.758065,4.838710,14.225806,83.129032,6.322581,0.0,6.316129,경상북도,15935,46455
18,2006,5,17.358065,23.580645,11.551613,4.706452,5.935484,15.064516,70.838710,5.580645,0.0,7.525806,경상북도,13749,33830
19,2006,6,21.486667,27.470000,16.020000,1.816667,6.600000,16.166667,75.333333,5.333333,0.0,6.876667,경상북도,13749,33830
20,2006,7,22.545161,26.061290,20.000000,17.793548,1.903226,9.193548,90.322581,8.806452,0.0,6.929032,경상북도,13749,33830
21,2007,5,18.038710,25.029032,11.596774,3.267742,7.419355,16.387097,66.225806,5.000000,0.0,9.551613,경상북도,14761,46779
22,2007,6,22.046667,28.113333,16.593333,4.233333,5.633333,15.600000,73.233333,6.466667,0.0,7.533333,경상북도,14761,46779
23,2007,7,23.241935,27.464516,19.890323,5.609677,3.645161,12.032258,85.387097,7.451613,0.0,7.022581,경상북도,14761,46779
24,2008,5,18.058065,24.903226,11.109677,1.887097,7.354839,21.709677,58.290323,4.451613,0.0,8.180645,경상북도,12991,34037
25,2008,6,20.493333,25.866667,15.560000,4.600000,5.400000,19.233333,70.800000,7.000000,0.0,7.256667,경상북도,12991,34037
26,2008,7,26.619355,31.554839,22.577419,5.422581,4.870968,18.129032,76.548387,7.193548,0.0,7.622581,경상북도,12991,34037
27,2009,5,18.519355,26.070968,11.493548,3.906452,7.483871,20.290323,59.774194,4.258065,0.0,7.554839,경상북도,11781,36513
28,2009,6,22.210000,28.216667,16.540000,2.633333,6.633333,20.366667,65.733333,5.466667,0.0,6.753333,경상북도,11781,36513
29,2009,7,23.554839,28.403226,19.900000,15.300000,3.806452,15.580645,78.483871,7.806452,0.0,7.464516,경상북도,11781,36513
30,2010,5,17.558065,24.445161,10.874194,3.406452,6.838710,19.677419,61.516129,4.838710,0.0,8.119355,경상북도,11699,26703
31,2010,6,23.156667,29.850000,16.993333,0.416667,7.200000,21.500000,62.000000,5.200000,0.0,7.550000,경상북도,11699,26703
32,2010,7,25.996774,30.787097,22.064516,3.254839,4.419355,16.838710,75.096774,7.096774,0.0,6.983871,경상북도,11699,26703
33,2011,5,17.477419,23.651613,11.596774,4.887097,6.064516,18.064516,62.096774,5.548387,0.0,8.241935,경상북도,10896,24421
34,2011,6,22.550000,28.493333,17.310000,9.486667,6.200000,19.633333,67.700000,5.966667,0.0,7.250000,경상북도,10896,24421
35,2011,7,25.516129,29.832258,22.300000,7.967742,4.000000,15.580645,78.548387,7.806452,0.0,6.877419,경상북도,10896,24421
36,2012,5,18.561290,25.412903,12.293548,1.196774,7.161290,20.483871,59.096774,5.258065,0.0,8.077419,경상북도,12059,31373
37,2012,6,22.353333,27.996667,17.503333,1.953333,5.733333,19.766667,67.166667,6.800000,0.0,7.800000,경상북도,12059,31373
38,2012,7,26.077419,30.812903,22.087097,5.600000,5.774194,18.129032,75.387097,6.645161,0.0,6.764516,경상북도,12059,31373
39,2013,5,18.687097,25.754839,11.935484,3.122581,8.709677,19.193548,60.387097,4.290323,0.0,7.487097,경상북도,10725,32864
40,2013,6,23.240000,28.926667,18.636667,6.240000,6.833333,17.700000,70.400000,6.100000,0.0,6.180000,경상북도,10725,32864
41,2013,7,26.774194,31.451613,23.580645,4.200000,5.290323,14.483871,77.032258,7.032258,0.0,7.309677,경상북도,10725,32864
42,2014,5,18.554839,26.212903,11.170968,0.738710,9.838710,24.806452,51.903226,3.096774,0.0,9.170968,경상북도,8587,20902
43,2014,6,21.653333,27.460000,17.096667,1.650000,6.266667,19.966667,64.866667,7.000000,0.0,7.433333,경상북도,8587,20902
44,2014,7,25.387097,31.080645,20.909677,2.238710,6.774194,19.354839,66.903226,6.838710,0.0,7.648387,경상북도,8587,20902
45,2015,5,19.329032,26.751613,11.600000,0.841935,10.258065,23.419355,49.967742,3.774194,0.0,8.032258,경상북도,8387,24214
46,2015,6,21.953333,28.356667,16.393333,4.513333,7.400000,19.366667,62.600000,6.733333,0.0,7.250000,경상북도,8387,24214
47,2015,7,23.700000,29.270968,20.596774,3.983871,6.709677,17.322581,68.161290,6.548387,0.0,7.167742,경상북도,8387,24214
48,2016,5,18.506452,26.325806,11.422581,1.658065,9.838710,21.419355,52.870968,4.387097,0.0,8.200000,경상북도,7426,20111
49,2016,6,23.220000,28.763333,17.900000,1.446667,8.500000,20.066667,63.566667,6.066667,0.0,7.390000,경상북도,7426,20111
50,2016,7,25.429032,30.535484,21.409677,8.854839,7.419355,17.290323,76.935484,7.290323,0.0,6.477419,경상북도,7426,20111
51,2017,5,19.396774,26.767742,12.241935,0.709677,9.935484,22.000000,52.870968,4.290323,0.0,8.712903,경상북도,6368,12073
52,2017,6,22.326667,29.696667,15.980000,0.800000,10.200000,22.300000,58.033333,4.666667,0.0,8.163333,경상북도,6368,12073
53,2017,7,26.129032,30.909677,22.529032,14.658065,6.612903,15.548387,80.677419,7.225806,0.0,7.148387,경상북도,6368,12073
54,2018,5,18.351613,24.651613,12.170968,3.164516,7.709677,21.258065,66.677419,5.612903,0.0,7.651613,경상북도,6768,17182
55,2018,6,22.650000,28.553333,17.480000,1.616667,7.433333,21.200000,64.233333,5.966667,0.0,6.660000,경상북도,6768,17182
56,2018,7,27.451613,32.745161,22.790323,4.967742,8.935484,23.032258,73.096774,4.806452,0.0,6.938710,경상북도,6768,17182
57,2019,5,18.800000,26.332258,10.761290,1.596774,10.032258,23.967742,53.290323,4.096774,0.0,8.670968,경상북도,7212,18786
58,2019,6,21.450000,27.496667,15.920000,2.956667,8.133333,22.033333,67.366667,5.733333,0.0,6.830000,경상북도,7212,18786
59,2019,7,24.700000,29.096774,20.925806,3.441935,5.806452,17.419355,75.322581,6.967742,0.0,6.758065,경상북도,7212,18786

In [12]:
re = data.corr(method='pearson')
re

,년도,월,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속,면적 (ha),생산량 (톤)
년도,1.000000,0.000000,0.161746,0.228705,0.094354,-0.203972,0.519069,0.652173,-0.124635,0.365130,NaN,0.523365,-0.980558,-0.915583
월,0.000000,1.000000,0.933834,0.809947,0.973264,0.560624,-0.579266,-0.470260,0.773954,0.402422,NaN,-0.175974,0.000000,0.000000
평균기온,0.161746,0.933834,1.000000,0.953279,0.978681,0.392095,-0.356519,-0.232725,0.660206,0.308836,NaN,-0.169552,-0.147082,-0.133398
최고기온,0.228705,0.809947,0.953279,1.000000,0.877095,0.215499,-0.108368,-0.019155,0.459038,0.130407,NaN,-0.195843,-0.210276,-0.186238
최저기온,0.094354,0.973264,0.978681,0.877095,1.000000,0.494449,-0.508693,-0.379317,0.758526,0.392847,NaN,-0.169628,-0.086631,-0.080145
강수량,-0.203972,0.560624,0.392095,0.215499,0.494449,1.000000,-0.659918,-0.648658,0.684362,0.366499,NaN,-0.100697,0.149948,0.110955
일조시간,0.519069,-0.579266,-0.356519,-0.108368,-0.508693,-0.659918,1.000000,0.831896,-0.733147,-0.384527,NaN,0.220836,-0.496152,-0.441342
일사량,0.652173,-0.470260,-0.232725,-0.019155,-0.379317,-0.648658,0.831896,1.000000,-0.645091,-0.215678,NaN,0.281402,-0.632948,-0.596997
습도,-0.124635,0.773954,0.660206,0.459038,0.758526,0.684362,-0.733147,-0.645091,1.000000,0.475072,NaN,-0.093029,0.121055,0.133164
운량,0.365130,0.402422,0.308836,0.130407,0.392847,0.366499,-0.384527,-0.215678,0.475072,1.000000,NaN,0.710619,-0.380711,-0.354064
적설량,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
순간최대풍속,0.523365,-0.175974,-0.169552,-0.195843,-0.169628,-0.100697,0.220836,0.281402,-0.093029,0.710619,NaN,1.000000,-0.526429,-0.473881
면적 (ha),-0.980558,0.000000,-0.147082,-0.210276,-0.086631,0.149948,-0.496152,-0.632948,0.121055,-0.380711,NaN,-0.526429,1.000000,0.959594
생산량 (톤),-0.915583,0.000000,-0.133398,-0.186238,-0.080145,0.110955,-0.441342,-0.596997,0.133164,-0.354064,NaN,-0.473881,0.959594,1.000000