In [1]:
import pandas as pd
price = pd.read_csv('./data/onion_price.csv')
price['년도'] = price['년도'].apply(lambda x: str(x))
price['월'] = price['월'].apply(lambda x: '0' + str(x) if x < 10 else str(x))
path = 'data/onion_supply/onion'
o00 = pd.read_excel('./{}_00.xlsx'.format(path))
o01 = pd.read_excel('./{}_01.xlsx'.format(path))
o02 = pd.read_excel('./{}_02.xlsx'.format(path))
o03 = pd.read_excel('./{}_03.xlsx'.format(path))
o04 = pd.read_excel('./{}_04.xlsx'.format(path))
o05 = pd.read_excel('./{}_05.xlsx'.format(path))
o06 = pd.read_excel('./{}_06.xlsx'.format(path))
o07 = pd.read_excel('./{}_07.xlsx'.format(path))
o08 = pd.read_excel('./{}_08.xlsx'.format(path))
o09 = pd.read_excel('./{}_09.xlsx'.format(path))
o10 = pd.read_excel('./{}_10.xlsx'.format(path))
o11 = pd.read_excel('./{}_11.xlsx'.format(path))
o12 = pd.read_excel('./{}_12.xlsx'.format(path))
o13 = pd.read_excel('./{}_13.xlsx'.format(path))
o14 = pd.read_excel('./{}_14.xlsx'.format(path))
o15 = pd.read_excel('./{}_15.xlsx'.format(path))
o16 = pd.read_excel('./{}_16.xlsx'.format(path))
o17 = pd.read_excel('./{}_17.xlsx'.format(path))
o18 = pd.read_excel('./{}_18.xlsx'.format(path))
o19 = pd.read_excel('./{}_19.xlsx'.format(path))

supply = pd.concat([o00, o01, o02, o03, o04, o05, o06, o07, o08, o09, o10, o11, o12, o13, o14, o15, o16, o17, o18, o19])
# supply = supply[2:]
supply['년도'] = supply['거래년월일'].apply(lambda x: str(x)[:4]).astype(str)
supply['월'] = supply['거래년월일'].apply(lambda x: str(x)[4:6]).astype(str)
supply['거래량'] = supply['거래량'].apply(lambda x: ''.join(str(x).split(','))).astype(int)
product = pd.read_excel('./데이터/KOSIS_재배면적_생산량/양파_재배면적_생산량.xlsx')
product['년도'] = product['년도'].apply(lambda x: str(x))

im_ex_port = pd.read_csv('./data/onion_monthly_im_ex_port.csv', encoding='euc-kr')
im_ex_port['년도'] = im_ex_port['년도'].apply(lambda x: str(x))
im_ex_port['수출(중량)'] = im_ex_port['수출(중량)'].apply(lambda x: str(x))
im_ex_port['수입(중량)'] = im_ex_port['수입(중량)'].apply(lambda x: str(x))
im_ex_port['월'] = im_ex_port['월'].apply(lambda x: '0' + str(x) if x < 10 else str(x))

In [2]:
price.head()

     년도   월   가격
0  2000  01  479
1  2000  02  516
2  2000  03  744
3  2000  04  953
4  2000  05  616

In [3]:
supply.head()

,거래년월일,품목명,시장코드,시장명,출하지코드,출하지명,거래량,품목코드,년도,월
0,총 합계,전체,NaN,NaN,NaN,NaN,109008214,NaN,총 합계,
1,소계,양파(일반),NaN,NaN,NaN,NaN,109008214,120101.0,소계,
2,20001230,양파(일반),110001.0,서울가락도매시장,232000,강원도평창군,6960,120101.0,2000,12
3,20001230,양파(일반),110001.0,서울가락도매시장,770000,경상북도영천시,29090,120101.0,2000,12
4,20001230,양파(일반),110001.0,서울가락도매시장,525000,전라남도함평군,40731,120101.0,2000,12

In [4]:
product.head()

     년도  양파:면적 (ha)  10a당 생산량 (kg)  생산량 (톤)
0  2000       16773           5232   877514
1  2001       18995           5653  1073708
2  2002       15314           6093   933095
3  2003       12352           6033   745203
4  2004       15563           6090   947797

In [5]:
im_ex_port.head()

     년도   월    수출(중량)     수입(중량)
0  2010  01  197804.0   230808.0
1  2010  02  120878.1   778786.0
2  2010  03   30478.5   297095.0
3  2010  04     206.5  6244403.0
4  2010  05    2166.0  2038736.0

In [6]:
product_10 = product[product['년도']>'2009']
supply_10 = supply[supply['년도']>'2009'].dropna().reset_index(drop=True)
price_10 = price[price['년도']>'2009']

In [7]:
sup_total = supply_10.groupby(['년도','월'], as_index=False).sum()
sup_total.head()

     년도   월         시장코드       거래량         품목코드
0  2010  01  134917343.0   6546011   72060600.0
1  2010  02  112487017.0   5685678   60050500.0
2  2010  03  158729692.0   7940150   84190801.0
3  2010  04  304114356.0  11931252  158773522.0
4  2010  05  394436908.0  22642986  208975740.0

In [8]:
df2 = im_ex_port.loc[111:]
im_ex_port.loc[111] = ['2019','04','0','0']
im_ex_port = im_ex_port[:112]
im_ex_port = pd.concat([im_ex_port, df2])
im_ex_port = im_ex_port[:-3] 
im_ex_port

       년도   월      수출(중량)      수입(중량)
0    2010  01    197804.0    230808.0
1    2010  02    120878.1    778786.0
2    2010  03     30478.5    297095.0
3    2010  04       206.5   6244403.0
4    2010  05      2166.0   2038736.0
5    2010  06   1678795.0    372609.0
6    2010  07   1691399.5    268015.0
7    2010  08    105411.0    441071.0
8    2010  09       328.0    949642.0
9    2010  10       127.0    902210.0
10   2010  11        76.5   2569237.0
11   2010  12      1501.7   6241473.0
12   2011  01       253.0    980564.0
13   2011  02     25376.0   4334361.0
14   2011  03      2826.0   4846506.0
15   2011  04     73060.0   1269880.0
16   2011  05     50017.0    390503.0
17   2011  06    438815.0    200752.0
18   2011  07    127633.0    748470.0
19   2011  08     17024.4   1441867.0
20   2011  09     13861.0   1822739.0
21   2011  10     23515.0    957609.0
22   2011  11      1953.0    520765.0
23   2011  12      2865.0    816601.0
24   2012  01        99.0    405200.0
25   2012  02      8220.0   2047740.0
26   2012  03      1208.0    365763.0
27   2012  04       316.0    924640.0
28   2012  05     13328.0    354569.0
29   2012  06    792624.0    442050.0
..    ...  ..         ...         ...
90   2017  07      7390.0  12047225.0
91   2017  08      2568.0  19786891.5
92   2017  09      6458.0  19027841.9
93   2017  10      1110.0  17776307.8
94   2017  11    403250.0  25735599.3
95   2017  12      7420.0  14091905.9
96   2018  01      2675.0  13452312.1
97   2018  02      2165.0   9088573.9
98   2018  03     28862.0  10062700.8
99   2018  04       250.0   6105849.7
100  2018  05     34860.0   4753836.6
101  2018  06    155631.0   4232998.9
102  2018  07   2295696.0   3283916.4
103  2018  08    437110.0   4737374.7
104  2018  09    122146.0   3214476.8
105  2018  10      4805.0   3536051.2
106  2018  11    145131.0   5019210.4
107  2018  12    232240.0   2858362.1
108  2019  01    821330.0   5571387.2
109  2019  02    165470.0   3131466.2
110  2019  03      4730.0   4655135.3
111  2019  04           0           0
111  2019  05    912266.0   2304312.0
112  2019  06  10153040.8   1395607.4
113  2019  07  20949422.7   2498183.4
114  2019  08   6308832.7   1317767.7
115  2019  09   3558273.8   2537696.5
116  2019  10   5975115.1   1703417.9
117  2019  11   1559163.7   3124847.0
118  2019  12      1886.0   1446271.9

[120 rows x 4 columns]

In [9]:
df = pd.merge(price_10, sup_total, on=['년도','월'])
df

       년도   월    가격         시장코드       거래량         품목코드
0    2010  01   603  134917343.0   6546011   72060600.0
1    2010  02   658  112487017.0   5685678   60050500.0
2    2010  03   914  158729692.0   7940150   84190801.0
3    2010  04  1505  304114356.0  11931252  158773522.0
4    2010  05   959  394436908.0  22642986  208975740.0
5    2010  06   627  374145130.0  15342716  188198267.0
6    2010  07   770  261133522.0   7728898  131150292.0
7    2010  08   884  196832293.0   7334270  101125042.0
8    2010  09   938  158805158.0   5485026   76264135.0
9    2010  10   920  171895332.0   7709510   89235043.0
10   2010  11   938  161181788.0   8190214   85511912.0
11   2010  12   927  129348149.0   6453615   67496762.0
12   2011  01  1060  119826066.0   6874167   64734439.0
13   2011  02  1353  112172559.0   5128667   56687672.0
14   2011  03  1106  172617852.0   8369126   87193326.0
15   2011  04   608  332320996.0  15877880  168982107.0
16   2011  05   486  377996628.0  25190764  195284226.0
17   2011  06   574  321734922.0  17020979  163337360.0
18   2011  07   680  258765439.0   8643710  128387969.0
19   2011  08   750  209004931.0   8955102  106409486.0
20   2011  09   760  176484122.0   8023476   91396861.0
21   2011  10   787  163867400.0   8508984   88514437.0
22   2011  11   777  137716692.0   8766426   76744539.0
23   2011  12   726  142395845.0  10366327   77585246.0
24   2012  01   693  132212879.0   9537639   71219893.0
25   2012  02   674  160968554.0  10842090   91997366.0
26   2012  03   609  187450251.0  12858451  105088375.0
27   2012  04   557  255159962.0  12902124  130669888.0
28   2012  05   765  390126082.0  21882445  195284226.0
29   2012  06   840  518949424.0  19744931  250170383.0
..    ...  ..   ...          ...       ...          ...
90   2017  07  1203  478939645.0   6830068  216662204.0
91   2017  08  1279  363498365.0   7085556  162856956.0
92   2017  09  1280  316426115.0   7847715  143400594.0
93   2017  10  1246  203966994.0   5899830   90676255.0
94   2017  11  1247  275417109.0   7305250  122863323.0
95   2017  12  1221  267988435.0   6932989  117819081.0
96   2018  01  1195  253316178.0   7499431  111213526.0
97   2018  02  1124  210282797.0   6462395   92477770.0
98   2018  03   907  338699773.0   9351092  150966957.0
99   2018  04   786  544645885.0  14833293  237319576.0
100  2018  05   835  517695963.0  14288971  220865739.0
101  2018  06   700  782919889.0  18794137  345530577.0
102  2018  07   665  508297697.0   9238917  232635637.0
103  2018  08   769  418265402.0   9401708  192401802.0
104  2018  09   780  385011124.0   9718157  174146450.0
105  2018  10   720  386360449.0  11378143  176428369.0
106  2018  11   699  365202659.0  10670849  166700188.0
107  2018  12   661  242650393.0   7993584  110492920.0
108  2019  01   615  340272488.0  11386045  158052916.0
109  2019  02   605  270983210.0   8482183  122262818.0
110  2019  03   673  434833804.0  12972633  197686246.0
111  2019  04   868  550085015.0  16234891  241523111.0
112  2019  05   658  568877925.0  19802702  247408060.0
113  2019  06   485  689633448.0  23532282  313343509.0
114  2019  07   423  511548511.0  11792515  229152708.0
115  2019  08   500  474837073.0  11930394  217623012.0
116  2019  09   539  380078208.0  12329636  174506753.0
117  2019  10   521  435523559.0  13598455  200328468.0
118  2019  11   605  401731531.0  12481686  186276651.0
119  2019  12   749  393895969.0  12769215  181712813.0

[120 rows x 6 columns]

In [10]:
merged = pd.merge(df, im_ex_port,on=['년도','월'])
merged = merged[['년도','월','가격','거래량','수출(중량)', '수입(중량)']]
merged

       년도   월    가격       거래량      수출(중량)      수입(중량)
0    2010  01   603   6546011    197804.0    230808.0
1    2010  02   658   5685678    120878.1    778786.0
2    2010  03   914   7940150     30478.5    297095.0
3    2010  04  1505  11931252       206.5   6244403.0
4    2010  05   959  22642986      2166.0   2038736.0
5    2010  06   627  15342716   1678795.0    372609.0
6    2010  07   770   7728898   1691399.5    268015.0
7    2010  08   884   7334270    105411.0    441071.0
8    2010  09   938   5485026       328.0    949642.0
9    2010  10   920   7709510       127.0    902210.0
10   2010  11   938   8190214        76.5   2569237.0
11   2010  12   927   6453615      1501.7   6241473.0
12   2011  01  1060   6874167       253.0    980564.0
13   2011  02  1353   5128667     25376.0   4334361.0
14   2011  03  1106   8369126      2826.0   4846506.0
15   2011  04   608  15877880     73060.0   1269880.0
16   2011  05   486  25190764     50017.0    390503.0
17   2011  06   574  17020979    438815.0    200752.0
18   2011  07   680   8643710    127633.0    748470.0
19   2011  08   750   8955102     17024.4   1441867.0
20   2011  09   760   8023476     13861.0   1822739.0
21   2011  10   787   8508984     23515.0    957609.0
22   2011  11   777   8766426      1953.0    520765.0
23   2011  12   726  10366327      2865.0    816601.0
24   2012  01   693   9537639        99.0    405200.0
25   2012  02   674  10842090      8220.0   2047740.0
26   2012  03   609  12858451      1208.0    365763.0
27   2012  04   557  12902124       316.0    924640.0
28   2012  05   765  21882445     13328.0    354569.0
29   2012  06   840  19744931    792624.0    442050.0
..    ...  ..   ...       ...         ...         ...
90   2017  07  1203   6830068      7390.0  12047225.0
91   2017  08  1279   7085556      2568.0  19786891.5
92   2017  09  1280   7847715      6458.0  19027841.9
93   2017  10  1246   5899830      1110.0  17776307.8
94   2017  11  1247   7305250    403250.0  25735599.3
95   2017  12  1221   6932989      7420.0  14091905.9
96   2018  01  1195   7499431      2675.0  13452312.1
97   2018  02  1124   6462395      2165.0   9088573.9
98   2018  03   907   9351092     28862.0  10062700.8
99   2018  04   786  14833293       250.0   6105849.7
100  2018  05   835  14288971     34860.0   4753836.6
101  2018  06   700  18794137    155631.0   4232998.9
102  2018  07   665   9238917   2295696.0   3283916.4
103  2018  08   769   9401708    437110.0   4737374.7
104  2018  09   780   9718157    122146.0   3214476.8
105  2018  10   720  11378143      4805.0   3536051.2
106  2018  11   699  10670849    145131.0   5019210.4
107  2018  12   661   7993584    232240.0   2858362.1
108  2019  01   615  11386045    821330.0   5571387.2
109  2019  02   605   8482183    165470.0   3131466.2
110  2019  03   673  12972633      4730.0   4655135.3
111  2019  04   868  16234891           0           0
112  2019  05   658  19802702    912266.0   2304312.0
113  2019  06   485  23532282  10153040.8   1395607.4
114  2019  07   423  11792515  20949422.7   2498183.4
115  2019  08   500  11930394   6308832.7   1317767.7
116  2019  09   539  12329636   3558273.8   2537696.5
117  2019  10   521  13598455   5975115.1   1703417.9
118  2019  11   605  12481686   1559163.7   3124847.0
119  2019  12   749  12769215      1886.0   1446271.9

[120 rows x 6 columns]