In [1]:
import pandas as pd
a = pd.read_csv('./채소생산량_근채류__20200506160919.csv', encoding='euc-kr')
b = pd.read_csv('./채소생산량_엽채류__20200506150012.csv', encoding='euc-kr')
c = pd.read_csv('./채소생산량_조미채소__20200506145121.csv', encoding='euc-kr')

In [11]:
df = pd.concat([a,b,c],axis=1).T
df = df.rename(columns=df.iloc[0])
# df.drop(df.index[0], inplace=True)
df = df[df['시도별'] != '10a당 생산량 (kg)']
df['시도별'] = df['시도별'].str.replace(pat=':면적 (ha)', repl='', regex=False)
df['시도별'] = df['시도별'].str.replace(pat='생산량 (톤)', repl='Ton', regex=False)
df = df.reset_index(drop=True)
s = sorted(set(df['시도별']))[1:]

# 종류
print(s)


# 날씨
w = pd.read_csv('./weather_0020.csv')

w['지역(시)'] = w['지역(시)'].str.replace(pat='서울', repl='서울특별시',regex=False)
w['지역(시)'] = w['지역(시)'].str.replace(pat='광주', repl='광주광역시',regex=False)
w['지역(시)'] = w['지역(시)'].str.replace(pat='부산', repl='부산광역시',regex=False)
w['지역(시)'] = w['지역(시)'].str.replace(pat='대구', repl='대구광역시',regex=False)
w['지역(시)'] = w['지역(시)'].str.replace(pat='인천', repl='인천광역시',regex=False)
w['지역(시)'] = w['지역(시)'].str.replace(pat='대전', repl='대전광역시',regex=False)
w['지역(시)'] = w['지역(시)'].str.replace(pat='울산', repl='울산광역시',regex=False)
w['지역(시)'] = w['지역(시)'].str.replace(pat='제주특별자치도', repl='제주도',regex=False)


# 연도별로 쪼개기
years = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012','2013','2014','2015','2016', '2017','2018','2019']

weather_list = []
prod_list = []
for i in years:
    prod_list.append(df[df['연도별']==i].reset_index(drop=True))
    weather_list.append(w[w['year']==int(i)].reset_index(drop=True))
prod_list[0]

['가을일반무', '가을총각무', '건고추', '고랭지무', '고랭지배추', '고추', '노지가을무', '노지가을배추', '노지겨울무', '노지겨울배추', '노지무', '노지배추', '노지봄무', '노지봄배추', '마늘', '무', '배추', '시도별', '시설무', '시설배추', '양파', '일반봄무', '일반봄배추', '풋고추']

,연도별,시도별,계,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주도
0,2000,무,40238,173,431,319,711,831,271,194,-,7580,5176,2841,4555,6057,4408,3237,2473,981
1,2000,Ton,1759357,3657,20101,15136,32251,51519,13188,8609,-,268739,163515,107877,209570,328803,259262,122529,106049,48552
2,2000,노지무,33541,44,240,253,457,501,68,118,-,5058,5056,2584,3896,5577,3590,3096,2022,981
3,2000,Ton,1507302,1376,11477,11853,18807,35950,3233,6785,-,188665,160202,100365,173305,313251,228268,118124,87089,48552
4,2000,노지봄무,18914,35,210,119,163,85,22,51,-,2578,4273,2006,1824,2177,1437,2133,1331,470
5,2000,Ton,624898,853,9771,4198,7218,3315,626,2392,-,83141,126878,75002,60630,66751,67654,65169,41124,10176
6,2000,일반봄무,15537,35,210,119,163,85,22,51,-,2578,1941,2004,1824,1636,1437,1876,1086,470
7,2000,Ton,526527,853,9771,4198,7218,3315,626,2392,-,83141,60229,74930,60630,52090,67654,57593,31711,10176
8,2000,고랭지무,3377,0,0,0,0,0,0,0,-,0,2332,2,0,541,0,257,245,0
9,2000,Ton,98371,0,0,0,0,0,0,0,-,0,66649,72,0,14661,0,7576,9413,0
10,2000,노지가을무,14627,9,30,134,294,416,46,67,-,2480,783,578,2072,3400,2153,963,691,511
11,2000,Ton,882404,523,1706,7655,11589,32635,2607,4393,-,105524,33324,25363,112675,246500,160614,52955,45965,38376
12,2000,가을일반무,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
13,2000,Ton,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
14,2000,가을총각무,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
15,2000,Ton,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
16,2000,시설무,6697,129,191,66,254,330,203,76,-,2522,120,257,659,480,818,141,451,0
17,2000,Ton,252055,2281,8624,3283,13444,15569,9955,1824,-,80074,3313,7512,36265,15552,30994,4405,18960,0
18,2000,배추,51801,208,921,568,397,542,198,189,-,6149,11099,4186,4310,4770,9503,5302,2710,749
19,2000,Ton,3149255,7906,65562,38540,29325,38942,14923,13692,-,364732,480889,269745,356891,347089,610659,300004,169619,40737
20,2000,노지배추,45527,95,727,316,273,373,105,152,-,3789,10891,3988,3629,4377,8860,4928,2279,745
21,2000,Ton,2868690,4995,53022,23307,21064,29412,9501,12138,-,267712,465701,259245,331980,332595,579133,283279,155064,40542
22,2000,노지봄배추,29114,72,403,177,107,178,6,61,-,1331,9608,2642,810,2317,6320,3400,1183,499
23,2000,Ton,1252175,2660,17917,8494,4618,9060,282,2690,-,51949,368899,139101,32489,89165,323584,138730,43919,18618
24,2000,일반봄배추,18908,72,403,177,107,178,6,61,-,1331,2147,2561,810,713,6320,2816,707,499
25,2000,Ton,867460,2660,17917,8494,4618,9060,282,2690,-,51949,87619,135938,32489,30459,323584,115709,25374,18618
26,2000,고랭지배추,10206,0,0,0,0,0,0,0,-,0,7461,81,0,1604,0,584,476,0
27,2000,Ton,384715,0,0,0,0,0,0,0,-,0,281280,3163,0,58706,0,23021,18545,0
28,2000,노지가을배추,16413,23,324,139,166,195,99,91,-,2458,1283,1346,2819,2060,2540,1528,1096,246
29,2000,Ton,1616515,2335,35105,14813,16446,20352,9219,9448,-,215763,96802,120144,299491,243430,255549,144549,111145,21924
30,2000,시설배추,6274,113,194,252,124,169,93,37,-,2360,208,198,681,393,643,374,431,4
31,2000,Ton,280565,2911,12540,15233,8261,9530,5422,1554,-,97020,15188,10500,24911,14494,31526,16725,14555,195
32,2000,고추,80130,28,87,259,972,738,194,279,-,6781,5398,11742,8394,9733,10815,19255,5418,37
33,2000,Ton,391298,101,1010,1590,3200,25622,674,1264,-,21177,19336,38462,37105,29917,57189,60790,93700,161
34,2000,건고추,74471,25,65,228,935,197,187,261,-,6448,5164,11547,7942,9498,9815,18872,3254,33
35,2000,Ton,193786,56,118,323,2460,401,412,544,-,14347,12061,35321,20187,25130,25589,50874,5928,35
36,2000,풋고추,5659,3,22,31,37,541,7,18,-,333,234,195,452,235,1000,383,2164,4
37,2000,Ton,197512,45,892,1267,740,25221,262,720,-,6830,7275,3141,16918,4787,31600,9916,87772,126
38,2000,양파,16773,0,8,87,18,3,2,17,-,37,372,45,243,487,8072,3215,3374,793
39,2000,Ton,877514,0,421,4824,838,154,100,626,-,1010,19704,2290,12148,20381,413529,179783,177607,44099
40,2000,마늘,44941,7,32,359,199,54,42,42,-,1072,661,1029,3919,974,20787,5287,6736,3741
41,2000,Ton,474388,42,217,3744,1439,517,234,374,-,6389,4501,6802,38641,8844,227826,50967,73422,50429

In [3]:
weather_list[0].head(50)

,year,month,지역(시),평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
0,2000,1,강원도,-3.057097,1.704839,-7.463871,1.853871,4.809677,1.729032,67.229032,0.0,0.0,0.0
1,2000,1,경기도,-2.425806,2.120430,-6.701075,1.743011,4.956989,2.182796,65.440860,0.0,0.0,0.0
2,2000,1,경상남도,1.725806,7.167742,-3.006810,0.685305,5.483871,0.620072,56.602151,0.0,0.0,0.0
3,2000,1,경상북도,-0.075367,4.784751,-4.504106,1.475953,4.448680,0.985337,62.008798,0.0,0.0,0.0
4,2000,1,광주광역시,0.983871,5.325806,-2.609677,1.087097,3.709677,5.741935,67.225806,0.0,0.0,0.0
5,2000,1,대구광역시,1.070968,5.138710,-2.706452,0.296774,5.387097,5.096774,56.677419,0.0,0.0,0.0
6,2000,1,대전광역시,-1.161290,3.345161,-5.216129,0.887097,4.548387,5.096774,70.129032,0.0,0.0,0.0
7,2000,1,부산광역시,4.222581,8.845161,0.529032,0.835484,4.677419,8.387097,53.258065,0.0,0.0,0.0
8,2000,1,서울특별시,-2.061290,1.703226,-5.722581,1.380645,3.548387,4.161290,63.870968,0.0,0.0,0.0
9,2000,1,울산광역시,3.074194,7.916129,-1.038710,0.774194,5.870968,0.000000,53.935484,0.0,0.0,0.0
10,2000,1,인천광역시,-2.564516,1.382258,-6.370968,1.401613,5.274194,2.419355,67.935484,0.0,0.0,0.0
11,2000,1,전라남도,2.057661,5.852823,-1.521774,0.864919,4.197581,1.266129,64.080645,0.0,0.0,0.0
12,2000,1,전라북도,-0.611521,4.096313,-4.981567,1.064977,3.958525,0.622120,72.119816,0.0,0.0,0.0
13,2000,1,제주도,6.430645,9.242742,3.616129,2.252419,2.685484,1.782258,70.354839,0.0,0.0,0.0
14,2000,1,충청남도,-1.309032,3.203871,-5.704516,1.516129,4.290323,1.141935,73.032258,0.0,0.0,0.0
15,2000,1,충청북도,-2.459677,2.225806,-6.903226,1.146774,4.548387,3.766129,63.983871,0.0,0.0,0.0
16,2000,2,강원도,-3.260000,2.502759,-9.019310,0.235517,7.079310,3.537931,53.837931,0.0,0.0,0.0
17,2000,2,경기도,-2.229885,3.152874,-7.698851,0.057471,6.574713,3.632184,55.114943,0.0,0.0,0.0
18,2000,2,경상남도,1.537548,7.859387,-4.129119,0.001533,7.842912,1.390805,42.157088,0.0,0.0,0.0
19,2000,2,경상북도,-0.296238,5.467085,-5.735423,0.294671,7.388715,2.501567,46.341693,0.0,0.0,0.0
20,2000,2,광주광역시,0.586207,5.572414,-3.648276,0.531034,6.275862,12.551724,59.000000,0.0,0.0,0.0
21,2000,2,대구광역시,1.327586,6.006897,-2.910345,0.000000,8.344828,12.931034,38.482759,0.0,0.0,0.0
22,2000,2,대전광역시,-1.124138,4.451724,-6.003448,0.141379,6.655172,13.344828,56.896552,0.0,0.0,0.0
23,2000,2,부산광역시,3.155172,8.455172,-1.189655,0.000000,6.655172,13.482759,38.413793,0.0,0.0,0.0
24,2000,2,서울특별시,-1.668966,2.600000,-5.762069,0.072414,4.827586,9.862069,55.655172,0.0,0.0,0.0
25,2000,2,울산광역시,2.713793,8.144828,-2.031034,0.003448,8.068966,0.000000,34.310345,0.0,0.0,0.0
26,2000,2,인천광역시,-2.220690,2.210345,-6.267241,0.062069,6.896552,6.120690,60.568966,0.0,0.0,0.0
27,2000,2,전라남도,1.415948,6.041379,-2.642241,0.168966,6.646552,3.116379,56.883621,0.0,0.0,0.0
28,2000,2,전라북도,-1.027586,4.422660,-6.078818,0.262562,6.364532,1.103448,64.369458,0.0,0.0,0.0
29,2000,2,제주도,4.870690,8.079310,1.929310,0.437931,5.508621,5.413793,61.689655,0.0,0.0,0.0
30,2000,2,충청남도,-1.922759,3.793103,-7.331724,0.096552,6.634483,2.317241,64.806897,0.0,0.0,0.0
31,2000,2,충청북도,-2.512931,3.241379,-8.032759,0.121552,6.836207,6.094828,51.905172,0.0,0.0,0.0
32,2000,3,강원도,4.460000,10.831290,-1.519355,0.438065,6.835484,4.393548,51.009677,0.0,0.0,0.0
33,2000,3,경기도,5.374194,12.084946,-1.009677,0.076344,6.548387,4.913978,51.247312,0.0,0.0,0.0
34,2000,3,경상남도,7.427599,14.566308,0.704659,1.112545,7.799283,1.860215,48.473118,0.0,0.0,0.0
35,2000,3,경상북도,6.475660,13.264223,0.042522,0.944282,7.563050,3.070381,48.568915,0.0,0.0,0.0
36,2000,3,광주광역시,6.877419,13.819355,0.974194,0.641935,6.129032,15.580645,55.645161,0.0,0.0,0.0
37,2000,3,대구광역시,7.948387,13.606452,2.800000,0.883871,8.064516,16.677419,42.193548,0.0,0.0,0.0
38,2000,3,대전광역시,6.109677,13.054839,-0.145161,0.574194,7.096774,16.290323,54.677419,0.0,0.0,0.0
39,2000,3,부산광역시,9.083871,14.003226,5.074194,1.551613,6.483871,15.967742,52.193548,0.0,0.0,0.0
40,2000,3,서울특별시,6.332258,11.364516,1.748387,0.100000,5.000000,12.612903,55.290323,0.0,0.0,0.0
41,2000,3,울산광역시,8.680645,14.267742,3.254839,1.887097,6.774194,0.000000,44.161290,0.0,0.0,0.0
42,2000,3,인천광역시,5.112903,10.287097,0.517742,0.090323,7.387097,7.596774,59.758065,0.0,0.0,0.0
43,2000,3,전라남도,6.732258,12.818145,1.355645,0.955242,7.294355,3.907258,58.604839,0.0,0.0,0.0
44,2000,3,전라북도,5.126267,12.523041,-1.325806,0.779263,6.870968,2.110599,61.585253,0.0,0.0,0.0
45,2000,3,제주도,9.617742,13.441935,5.840323,1.900000,6.750000,7.717742,61.620968,0.0,0.0,0.0
46,2000,3,충청남도,4.590323,11.946452,-2.494194,0.363871,7.032258,3.122581,61.470968,0.0,0.0,0.0
47,2000,3,충청북도,4.806452,12.150000,-2.029839,0.585484,7.266129,7.838710,51.008065,0.0,0.0,0.0
48,2000,4,강원도,9.905333,16.296000,3.520000,1.246000,6.493333,5.076667,52.553333,0.0,0.0,0.0
49,2000,4,경기도,11.080000,17.907778,4.334444,0.745556,6.688889,5.900000,49.733333,0.0,0.0,0.0

In [4]:
number = df[1::2]
number

,연도별,시도별,계,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주도
1,2000,무,40238,173,431,319,711,831,271,194,-,7580,5176,2841,4555,6057,4408,3237,2473,981
3,2000,노지무,33541,44,240,253,457,501,68,118,-,5058,5056,2584,3896,5577,3590,3096,2022,981
5,2000,노지봄무,18914,35,210,119,163,85,22,51,-,2578,4273,2006,1824,2177,1437,2133,1331,470
7,2000,일반봄무,15537,35,210,119,163,85,22,51,-,2578,1941,2004,1824,1636,1437,1876,1086,470
9,2000,고랭지무,3377,0,0,0,0,0,0,0,-,0,2332,2,0,541,0,257,245,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,2019,고추,31644,8,82,108,385,91,59,191,154,2761,2557,2859,3120,4837,4914,7212,2237,67
865,2019,건고추,31644,8,82,108,385,91,59,191,154,2761,2557,2859,3120,4837,4914,7212,2237,67
867,2019,풋고추,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
869,2019,양파,21777,0,16,311,52,33,4,52,4,493,102,155,944,2373,8467,3309,4330,1130
871,2019,마늘,27689,1,27,504,66,44,31,96,37,881,239,797,3418,1032,5803,5998,6598,2116

In [5]:
area = df[::2]
area

,연도별,시도별,계,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주도
0,연도별,시도별,계,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주도
2,2000,Ton,1759357,3657,20101,15136,32251,51519,13188,8609,-,268739,163515,107877,209570,328803,259262,122529,106049,48552
4,2000,Ton,1507302,1376,11477,11853,18807,35950,3233,6785,-,188665,160202,100365,173305,313251,228268,118124,87089,48552
6,2000,Ton,624898,853,9771,4198,7218,3315,626,2392,-,83141,126878,75002,60630,66751,67654,65169,41124,10176
8,2000,Ton,526527,853,9771,4198,7218,3315,626,2392,-,83141,60229,74930,60630,52090,67654,57593,31711,10176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,2019,Ton,78437,19,193,230,783,171,147,321,367,6352,5791,7892,7852,12655,11413,18786,5345,121
866,2019,Ton,78437,19,193,230,783,171,147,321,367,6352,5791,7892,7852,12655,11413,18786,5345,121
868,2019,Ton,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
870,2019,Ton,1594450,29,1049,26244,3397,2321,198,3122,232,32282,6112,6729,51922,188857,581958,247231,353752,89017
872,2019,Ton,387671,6,314,8290,569,597,219,1219,364,8047,1865,7447,45538,12406,73674,100699,97925,28491

In [6]:
area[area['연도별']=='2009']

,연도별,시도별,계,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주도
164,2009,Ton,1256423,1650,5799,6970,19466,13802,4213,6396,-,191405,105091,59904,127449,188967,124272,92267,43594,265179
166,2009,Ton,1106331,1247,3269,4876,17582,9006,1897,3946,-,136238,103577,56012,114387,177105,97278,78453,36280,265179
168,2009,Ton,482034,301,2314,2054,1646,751,344,332,-,25674,84713,38371,30130,38995,27556,48628,12559,167666
170,2009,Ton,423138,301,2314,2054,1646,751,344,332,-,25674,33413,38371,30130,35501,27556,48345,8740,167666
172,2009,Ton,58896,0,0,0,0,0,0,0,-,0,51300,0,0,3494,0,283,3819,0
174,2009,Ton,624297,946,955,2822,15936,8255,1553,3614,-,110564,18864,17641,84257,138110,69722,29825,23721,97513
176,2009,Ton,568116,798,955,2822,15760,8219,1472,3614,-,78127,17763,14424,74397,132743,66232,29557,23721,97513
178,2009,Ton,56181,148,0,0,176,36,80,0,-,32437,1101,3216,9860,5367,3491,268,0,0
180,2009,Ton,150092,403,2530,2094,1884,4796,2316,2450,-,55167,1514,3892,13062,11862,26994,13814,7314,0
506,2009,배추,34321,91,280,358,280,209,126,204,-,3551,6587,2550,2792,2672,8233,4321,1631,436
508,2009,노지배추,31386,70,233,166,235,123,108,183,-,2302,6515,2442,2503,2587,8072,3887,1525,435
510,2009,노지봄배추,16924,53,92,30,12,22,6,54,-,295,5597,813,389,1056,5719,2066,498,222
512,2009,일반봄배추,11371,53,92,30,12,22,6,54,-,295,784,809,389,550,5719,1944,390,222
514,2009,고랭지배추,5553,0,0,0,0,0,0,0,-,0,4813,4,0,506,0,122,108,0
516,2009,노지가을배추,14462,17,141,136,223,101,102,129,-,2007,918,1629,2114,1531,2353,1821,1027,213
518,2009,시설배추,2935,21,47,192,45,86,18,21,-,1249,72,108,289,85,161,434,106,1
764,2009,Ton,350436,431,99,1327,1794,20600,609,1275,-,18302,44079,19795,29861,16279,48974,43202,103665,144
766,2009,Ton,117324,37,99,259,1794,255,137,337,-,7708,7477,15569,11115,12370,17528,36513,6078,48
768,2009,Ton,233112,394,0,1068,0,20345,472,938,-,10594,36602,4226,18746,3909,31446,6689,97587,96
770,2009,Ton,1372291,0,1005,8464,917,3026,189,1698,-,917,2001,2329,22853,59566,750714,186610,271633,60369
772,2009,Ton,357278,0,385,3217,456,381,95,399,-,4917,3362,4746,29727,7153,121022,47075,79028,55316